html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    text-align: center;
    background-image: url('#');
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.hero {
    margin-bottom: 50px;
    margin-top: -50px;
}

.product-categories {
    margin-top: 50px;
}

.card img {
    height: 200px;
    object-fit: cover;
}

header {
    background-color: #222;
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

header .navbar-nav .nav-link {
    font-size: 1rem;
    margin: 0 10px;
}

.navbar-brand-container {
    flex-grow: 1;
    margin-left: 0;
    padding-left: 10px;
}


.search-bar {
    width: 50%;
}

.search-bar input {
    width: 600px;
}

.search-bar button {
    white-space: nowrap;
}


.product-categories .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.product-categories .card {
    flex: 1;
    max-width: 300px;
}

/* General Navbar Styles */
.navbar-collapse {
    transition: height 0.3s ease;
}

@media (max-width: 768px) {


    .card-img-top {
        display: none;
      }
    }
  
    footer .container {
      text-align: center;
    }
  
    footer .row > div {
      margin-bottom: 1rem;
    }

    #searchContainer {
        display: block !important; /* Always visible on larger screens */
        position: static;
        top: auto;
    }

    #toggleSearch {
        display: none;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        #searchContainer {
            display: flex !important; /* Force visibility for the search bar */
            align-items: center; /* Vertically align content */
            justify-content: flex-start; /* Align input and button properly */
        }
    
        #toggleSearch {
            display: none; /* Hide the toggle button on tablets */
        }
    }